/*1301885392,176820663*/

.sp_18nsck{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/ze/r/ueLKR4ctzhL.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_0458b0{background-position:-16px -0px}
.selected .sx_0458b0{background-position:-0px -0px}
.sx_e45de0{background-position:-16px -17px}
.selected .sx_e45de0{background-position:-0px -17px}
.sp_a2jb2c{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/zV/r/Y4igKx3JtVB.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_925c73{width:11px;height:14px;background-position:-11px -969px}
.selected .sx_925c73{background-position:-0px -969px}
.sx_0c956d{width:5px;height:14px;background-position:-26px -1020px}
.selected .sx_0c956d{background-position:-21px -1020px}
.sx_59c57f{width:8px;height:14px;background-position:-8px -1097px}
.selected .sx_59c57f{background-position:-0px -1097px}
.sx_105be7{width:11px;height:11px;background-position:-11px -1008px}
.selected .sx_105be7{background-position:-0px -1008px}
.sx_c93a5d{width:11px;height:11px;background-position:-11px -996px}
.selected .sx_c93a5d{background-position:-0px -996px}
.sx_366729{width:11px;height:11px;background-position:-11px -984px}
.selected .sx_366729{background-position:-0px -984px}
.sx_8738c3{width:9px;height:14px;background-position:-9px -1050px}
.selected .sx_8738c3{background-position:-0px -1050px}
.sx_a6bea7{width:10px;height:14px;background-position:-10px -1035px}
.selected .sx_a6bea7{background-position:-0px -1035px}
.sx_635436{width:10px;height:14px;background-position:-10px -1020px}
.selected .sx_635436{background-position:-0px -1020px}
.sx_c44d3d{width:8px;height:14px;background-position:-8px -1082px}
.selected .sx_c44d3d{background-position:-0px -1082px}
.sx_e0a377{background-position:-0px -1065px}
.sx_c40766{background-position:-16px -578px}
.selected .sx_c40766{background-position:-0px -578px}
.sx_2f05c0{background-position:-16px -595px}
.selected .sx_2f05c0{background-position:-0px -595px}
.sx_f1fd75{background-position:-16px -612px}
.selected .sx_f1fd75{background-position:-0px -612px}
.sx_024aa0{background-position:-16px -629px}
.selected .sx_024aa0{background-position:-0px -629px}
.sx_d38de7{background-position:-16px -646px}
.selected .sx_d38de7{background-position:-0px -646px}
.sx_a9a4d9{background-position:-16px -663px}
.selected .sx_a9a4d9{background-position:-0px -663px}
.sx_ffa839{background-position:-16px -680px}
.selected .sx_ffa839{background-position:-0px -680px}
.sx_f977db{background-position:-16px -697px}
.selected .sx_f977db{background-position:-0px -697px}
.sx_28a612{background-position:-16px -714px}
.selected .sx_28a612{background-position:-0px -714px}
.sx_65d42f{background-position:-16px -731px}
.selected .sx_65d42f{background-position:-0px -731px}
.sx_e6467d{background-position:-16px -748px}
.selected .sx_e6467d{background-position:-0px -748px}
.sx_5631dd{background-position:-16px -765px}
.selected .sx_5631dd{background-position:-0px -765px}
.sx_972813{background-position:-16px -952px}
.selected .sx_972813{background-position:-0px -952px}
.sx_5d5fd3{background-position:-16px -935px}
.selected .sx_5d5fd3{background-position:-0px -935px}
.sx_8e4c70{background-position:-16px -918px}
.selected .sx_8e4c70{background-position:-0px -918px}
.sx_2f9796{background-position:-16px -901px}
.selected .sx_2f9796{background-position:-0px -901px}
.sx_ea69d8{background-position:-16px -884px}
.selected .sx_ea69d8{background-position:-0px -884px}
.sx_cf3202{background-position:-16px -867px}
.selected .sx_cf3202{background-position:-0px -867px}
.sx_3521e4{background-position:-16px -850px}
.selected .sx_3521e4{background-position:-0px -850px}
.sx_6972b7{background-position:-16px -833px}
.selected .sx_6972b7{background-position:-0px -833px}
.sx_2f0739{background-position:-16px -816px}
.selected .sx_2f0739{background-position:-0px -816px}
.sx_7a7240{background-position:-16px -799px}
.selected .sx_7a7240{background-position:-0px -799px}
.sx_e9c693{background-position:-16px -782px}
.selected .sx_e9c693{background-position:-0px -782px}
.sx_1cc756{background-position:-16px -272px}
.selected .sx_1cc756{background-position:-0px -272px}
.sx_ce37d7{background-position:-16px -255px}
.selected .sx_ce37d7{background-position:-0px -255px}
.sx_3be89e{background-position:-16px -238px}
.selected .sx_3be89e{background-position:-0px -238px}
.sx_bf1ebc{background-position:-16px -221px}
.selected .sx_bf1ebc{background-position:-0px -221px}
.sx_37ad40{background-position:-16px -204px}
.selected .sx_37ad40{background-position:-0px -204px}
.sx_432b1a{background-position:-16px -187px}
.selected .sx_432b1a{background-position:-0px -187px}
.sx_17fd98{background-position:-16px -170px}
.selected .sx_17fd98{background-position:-0px -170px}
.sx_a59468{background-position:-16px -153px}
.selected .sx_a59468{background-position:-0px -153px}
.sx_b7c127{background-position:-16px -136px}
.selected .sx_b7c127{background-position:-0px -136px}
.sx_97dea2{background-position:-16px -119px}
.selected .sx_97dea2{background-position:-0px -119px}
.sx_ef73c9{background-position:-16px -102px}
.selected .sx_ef73c9{background-position:-0px -102px}
.sx_3a0b4a{background-position:-16px -85px}
.selected .sx_3a0b4a{background-position:-0px -85px}
.sx_34a31a{background-position:-16px -68px}
.selected .sx_34a31a{background-position:-0px -68px}
.sx_0192b8{background-position:-16px -51px}
.selected .sx_0192b8{background-position:-0px -51px}
.sx_233653{background-position:-16px -34px}
.selected .sx_233653{background-position:-0px -34px}
.sx_64937b{background-position:-16px -17px}
.selected .sx_64937b{background-position:-0px -17px}
.sx_57f0c1{background-position:-16px -0px}
.selected .sx_57f0c1{background-position:-0px -0px}
.sx_d58c89{background-position:-16px -561px}
.selected .sx_d58c89{background-position:-0px -561px}
.sx_5648ef{background-position:-16px -544px}
.selected .sx_5648ef{background-position:-0px -544px}
.sx_23345c{background-position:-16px -527px}
.selected .sx_23345c{background-position:-0px -527px}
.sx_992f9a{background-position:-16px -510px}
.selected .sx_992f9a{background-position:-0px -510px}
.sx_0bb390{background-position:-16px -493px}
.selected .sx_0bb390{background-position:-0px -493px}
.sx_a10a1a{background-position:-16px -476px}
.selected .sx_a10a1a{background-position:-0px -476px}
.sx_fc1237{background-position:-16px -459px}
.selected .sx_fc1237{background-position:-0px -459px}
.sx_3e881b{background-position:-16px -442px}
.selected .sx_3e881b{background-position:-0px -442px}
.sx_63772a{background-position:-16px -425px}
.selected .sx_63772a{background-position:-0px -425px}
.sx_1d5370{background-position:-16px -408px}
.selected .sx_1d5370{background-position:-0px -408px}
.sx_48c6d8{background-position:-16px -391px}
.selected .sx_48c6d8{background-position:-0px -391px}
.sx_dfeca2{background-position:-16px -374px}
.selected .sx_dfeca2{background-position:-0px -374px}
.sx_0562a8{background-position:-16px -357px}
.selected .sx_0562a8{background-position:-0px -357px}
.sx_a299e7{background-position:-16px -340px}
.selected .sx_a299e7{background-position:-0px -340px}
.sx_5ae449{background-position:-16px -323px}
.selected .sx_5ae449{background-position:-0px -323px}
.sx_1f5f40{background-position:-16px -306px}
.selected .sx_1f5f40{background-position:-0px -306px}
.sx_5bbc73{background-position:-16px -289px}
.selected .sx_5bbc73{background-position:-0px -289px}
.sp_al9rjl{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/zg/r/d1ccSl_hXFt.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_36865d{background-position:-16px -0px}
.selected .sx_36865d{background-position:-0px -0px}
.sx_9e7257{background-position:-16px -17px}
.selected .sx_9e7257{background-position:-0px -17px}
.sx_e15d77{background-position:-16px -34px}
.selected .sx_e15d77{background-position:-0px -34px}
.sx_524b52{background-position:-0px -51px}
.sp_cpw6cu{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/zU/r/Ck6zlGg8lvE.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_ae43cb{background-position:-16px -0px}
.selected .sx_ae43cb{background-position:-0px -0px}
.sx_d1e3cc{background-position:-16px -17px}
.selected .sx_d1e3cc{background-position:-0px -17px}

#bootloader_ZoFFR { height: 42px; }