/*1298350279,176820409*/

.sp_eys67q{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/zu/r/AnF9z8Nai4g.png);background-repeat:no-repeat;display:inline-block;height:9px;width:11px}
.sx_f543a7{background-position:-0px -11px}
.sx_8cb9b3{background-position:-0px -21px}
.sx_8cb09c{width:21px;height:10px;background-position:-0px -0px}

#bootloader__x_Hu { height: 42px; }