/*1302567888,176833974*/

.sp_27f0j4{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/zz/r/r9ad093yvZ9.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_e6fa35{background-position:-0px -0px}
.sx_323f17{width:15px;background-position:-0px -34px}
.sx_8190bc{background-position:-0px -17px}
.sx_6e4092{height:15px;background-position:-0px -51px}
.sx_494c6a{width:11px;height:9px;background-position:-0px -67px}
.sp_47zloo{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/zZ/r/N0QLG1qSi0y.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_1a6662{background-position:-0px -0px}
.sx_55f5bd{width:15px;height:11px;background-position:-0px -17px}
.sp_ag2uq2{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/zU/r/h0P4azskt_z.png);background-repeat:no-repeat;display:inline-block;height:16px;width:15px}
.sx_82f8db{background-position:-0px -18px}
.sx_030f3d{width:16px;height:17px;background-position:-0px -0px}

#bootloader_H3uBL { height: 42px; }